In [6]:
import numpy as np
import pandas as pd

In [7]:
S = np.mat([[7, 560, 16.68], 
           [3, 220, 11.5], 
           [3, 340, 12.03], 
           [4, 80, 14.88], 
           [6, 150, 13.75], 
           [7, 330, 18.11]])

In [12]:
df = pd.DataFrame(S, columns=["y1", "y2", "z"])

In [14]:
df["preds"] = df.apply(lambda x: 2.341 + 1.616*x.y1 + 0.014*x.y2, axis=1)

In [19]:
# MSE
df.apply(lambda x: (x.z - x.preds)**2, axis=1).sum()/len(df)

8.23587566666667

In [20]:
# RMSE
np.sqrt(df.apply(lambda x: (x.z - x.preds)**2, axis=1).sum()/len(df))

2.869821539166969

In [21]:
# MAE
df.apply(lambda x: abs(x.z - x.preds), axis=1).sum()/len(df)

1.9383333333333341

In [25]:
df["rezidual"] = df.preds - df.z

In [26]:
df.rezidual

0    4.813
1   -1.231
2   -0.081
3   -4.955
4    0.387
5    0.163
Name: rezidual, dtype: float64

In [24]:
df

    y1     y2      z   preds  rezidual
0  7.0  560.0  16.68  21.493    -4.813
1  3.0  220.0  11.50  10.269     1.231
2  3.0  340.0  12.03  11.949     0.081
3  4.0   80.0  14.88   9.925     4.955
4  6.0  150.0  13.75  14.137    -0.387
5  7.0  330.0  18.11  18.273    -0.163